<section id=how-does-this-work>
  <h2>How does any of this work?</h2>
  <p>
    We look for any tags with an <code>data-import</code> attribute, which HAS to resolve to something.
  </p>
  <p>
    Then we grab the contents of that file, and replace the thing that had this import with its contents
  </p>
  <p><code>Script</code>s get relocated to a safer place where they can run after the HTML was placed, and <code>stylesheets</code> all go to the head</p>
  <p>That's all there is to it! Include the script, and start using imports</p>
  <p>
    It also works asynchronously; click <a href="example" id="loadAsyncExample"> to load a new file</a> by appending a new special link to the end of this paragraph.
  </p>
  <p class=important>Note: It's <b>SUPER</b> easy to shoot yourself in the foot as there's no recursion checks whatsoever, so exercise care</p>
</section>

<script>
(function(){
  document.querySelector('#loadAsyncExample').addEventListener('click', asyncLoad);
  function asyncLoad(evt){
    evt.preventDefault();
    evt.stopPropagation();

    var injected = document.createElement('link');
    injected.setAttribute('data-import','./views/example.html');

    document.getElementById('loadAsyncExample').parentNode.appendChild(injected);
  }
})();
</script>
