<section id=pending>
  <h2>Missing stuff</h2>
  <p>
    We're actually still missing a bunch of potentially super cool stuff, like
  </p>
  <ul>
    <li>The aforementioned <b>cyclical check</b>: Things should be able to only be recursively loaded when it's explicitly permitted</li>
    <li><b>Request caching</b>. Each piece gets loaded over the wire every single time</li>
    <li><b>Lifecycle events</b>: There's no real notion of a lifecycle here and that could use some love</li>
    <li><b>Transformations</b>? Going on a limb here but being able to dynamically parse SASS or HAML sounds awesome</li>
  </ul>
</section>
<script>
console.log("This is Pending page", document.querySelector('#pending'));
</script>
