<section id=why>
  <h2>Why</h2>
  <p>
    There's no "real" cross-browser support for HTML5 imports in our typical browser matrices, and polyfills can be stupid
    at what browser mechanics they support because the spec asks for all kinds of magic to happen.
  </p>
  <p>
    This enhancement intends to fill that spot until proper support lands the majority of this matrix, in a more direct application than usual.
  </p>
  <p>
    It's the equivalent of a "require" instead of an "import", and is inmediately useful as is demonstrated in this toy page
  </p>
</section>
